.NewTodoForm {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

input {
    font-size: 16px;
    padding: 3px;
    color: rgb(228, 8, 217);
    width: 160px;

}

.NewTodoForm button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5%;
    color: rgb(255, 255, 255);
    background-color: rgb(215, 14, 171);
    font-weight: bold;
}


input::-webkit-input-placeholder {
    color: rgb(245, 130, 255);
    
}


input::-moz-placeholder {
    color: rgb(245, 130, 255);
    
}


input:-ms-input-placeholder {
    color: rgb(245, 130, 255);
    
}


input::-ms-input-placeholder {
    color: rgb(245, 130, 255);
    
}


input::placeholder {
    color: rgb(245, 130, 255);
    
}